# Introduction python

Définir quatre variables distinctes, un entier, un float, un booléen et une chaîne de caractère et affichez-les dans la console.

In [1]:
int1=4
float1=4.5
bool1=True
str1="python"
print("Entier :", int1,float1,bool1,str1)

Entier : 4 4.5 True python

Définir une variable comprenant la chaîne ‘Python pour la Science’, utilisez des opérations sur les chaînes pour afficher ‘PYTHON POUR LA DATA SCIENCE’

In [2]:
str2="python pour la Science"
print((str2[:15]+"data"+str2[-8:]).upper())

PYTHON POUR LA DATA SCIENCE

Créez une condition qui affiche une valeur différente en fonction du booléen entré.

In [3]:
bool1=True
bool2=True
if bool1==True:
    print("C'est vrai")
else:
    print("C'est faux")
    print("C'est encore faux")
    if bool2==True:
        print("bool2 est vrai")

C'est vrai

Créez une boucle for qui parcourt un range de 0 à 5 et qui ajoute 1 à une variable à chaque boucle

In [4]:
x=0
for indice in range(6):
    x+=1
print(x)

6

In [5]:
str3=input("Entrez votre nom :")

Entrez votre nom :Emmanuel

Créez une liste composée de 5 éléments, affichez la longueur de la liste.
Modifiez la dernière valeur de la liste et construisez une seconde liste à partir des 3 dernières valeurs de la liste initiale.

In [6]:
list1=[2,5,"a",True,55]

In [7]:
print(len(list1))

5

In [8]:
list1[-1]=33
list1

[2, 5, 'a', True, 33]

In [9]:
list2=list1[-3:]
list2

['a', True, 33]

In [10]:
list1.extend(list2)
print(list1)

[2, 5, 'a', True, 33, 'a', True, 33]

In [11]:
del list1[1]

A partir d’une liste de valeurs en degrés celsius [0, 10, 20, 35], créez une liste en degrés fahrenheits (9/5*temp+32)

In [12]:
list_celsius=[0,10,20,35]
list_farenheit=[9/5*x+32 for x in list_celsius]
list_farenheit

[32.0, 50.0, 68.0, 95.0]

Créez la chaîne ‘Ce client est …, il a … ans d’ancienneté et a dépensé … euros’. On utilisera les %... dans la chaîne que l’on pourra remplacer par différentes valeurs

In [13]:
str4 = "Ce client est %s, il a %i ans d’ancienneté et a dépensé %.2f euros"

In [14]:
print(str4 %("M. Dupont", 10, 23.56))

Ce client est M. Dupont, il a 10 ans d’ancienneté et a dépensé 23.56 euros

In [15]:
str4

'Ce client est %s, il a %i ans d’ancienneté et a dépensé %.2f euros'

### Les fonctions

In [16]:
def test_bool(bool1,bool2):
    if bool1==True:
        print("C'est vrai")
    else:
        print("C'est faux")
        print("C'est encore faux")
        if bool2==True:
            print("bool2 est vrai")
    
    return 1000, "truc"

In [17]:
ma_val=list(test_bool(False,False))

C'est faux
C'est encore faux

In [18]:
print(ma_val)

[1000, 'truc']

In [19]:
ma_val2, mon_truc=test_bool(False,False)

C'est faux
C'est encore faux

In [20]:
print(mon_truc)
print(ma_val2)

truc
1000

Construire une fonction prenant en entrée deux listes et qui retourne la moyenne de tous les éléments des deux listes (une seule valeur)

In [21]:
def moy_listes(l1,l2):
    return sum(l1+l2)/len(l1+l2)

In [22]:
def moy_listes2(l1,l2):
    x=0
    for i in l1+l2:
        x+=i
    return x/len(l1+l2)

In [23]:
moy_listes([1,2,3],[2,3,4])

2.5

In [24]:
moy_listes2([1,2,3],[2,3,4])

2.5

In [25]:
"La moyenne des éléments des listes %s et %s est de %f" % ([1,2,3],
                                                           [1,2,3], 
                                                           moy_listes([1,2,3],[1,2,3]))

'La moyenne des éléments des listes [1, 2, 3] et [1, 2, 3] est de 2.000000'

# classes

In [26]:
class Client:
    """
    Classe client permettant de modifier un client
    """
    def __init__(self,nouveau_client=True,ville_client="Paris"):
        self.nouveau_client=nouveau_client
        self.ville_client=ville_client
    
    def affiche_ville(self):
        print(self.ville_client)

    def changement_ville(self,nouvelle_ville):
        self.ville_client=nouvelle_ville

In [27]:
client1=Client(False,"Lille")

In [28]:
client1.ville_client

'Lille'

In [29]:
client1.changement_ville("Rome")

In [30]:
client1.ville_client

'Rome'

In [31]:
class CompteBancaire:
    """
    Classe comptebancaire prenant le nom et le solde comme paramètres
    avec comme méthodes retrait, depot, affiche
    """
    def __init__(self,nom="Dupont",solde=0):
        self.nom=nom
        self.solde=solde
    
    def depot(self,somme):
        self.solde+=somme
    
    def retrait(self,somme):
        """
        Retirer de l'argent
        """
        self.solde-=somme
    
    def affiche(self):
        if self.solde<0:
            print("Votre solde est négatif")
        else:
            print("Votre solde est de : ",self.solde,sep="")

In [32]:
compte1=CompteBancaire("Emmanuel",200)

In [33]:
compte1.nom

'Emmanuel'

In [34]:
compte1.depot(100)
compte1.affiche()

Votre solde est de : 300

In [35]:
compte1.retrait(500)
compte1.affiche()

Votre solde est négatif